body {
    background-color: #222222;
    font-family: Arial, Geneva, Tahoma, sans-serif;
}

nav {
    position: fixed;
    font-size: 0.9em;
    /* background-color: #333333; */
    top: 0px;
    width: 100%;
    padding-top: 50px;
}

.navWrapper {
    position: relative;
}

.navFlex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: #555555; */
    box-sizing: content-box;
    max-width: 1100px;
    padding-left: 50px;
    padding-right: 125px;
    margin-left: auto;
    margin-right: auto;
}

.navFlex img {
    height: 30px;
    width: auto;
    margin-right: 30px;
    margin-bottom: 11px;
}

.navFlex div {
    display: inline;
    /* background-color: #777777; */
    margin-right: 30px;
}

.navRight {
    position: absolute;
    /* background-color: #777777; */
    text-align: right;
    top: 14px;
    right: 50px;
    width: 200px;
}

.navRight div {
    position: inline;
    /* background-color: #C2C2C2; */
    margin-left: 30px;
}

nav a:link, nav a:visited, nav a:active {
    color: white;
    font-weight: normal;
    text-decoration: none;
}

nav a:hover {
    color: white;
    font-weight: normal;
    text-decoration: underline;
}

section {
    color: #858585;
    box-sizing: content-box;
    max-width: 1200px;
    padding: 500px 50px 500px 50px;
    margin: 150px auto 0px auto;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 20px 0px 20px 0px;
    margin-top: 30px;
    border: 2px solid #FFFFFF;
}

.button a {
    padding: 20px 50px 20px 50px;
}

.button a:link, .button a:visited, .button a:active {
    color: #FFFFFF;
    background-color: transparent;
    font-weight: normal;
    text-decoration: none;
}

.button a:hover {
    color: #000000;
    background-color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 0.9em;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer div {
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
}

footer a:link, footer a:visited, footer a:active {
    color: #EEEEEE;
    font-weight: normal;
    text-decoration: none;
}

footer a:hover {
    color: #747474;
    font-weight: normal;
    text-decoration: none;
}

.spacex-footer {
    color: #858585;
}