body {
    background-color: #222222;
    font-family: Arial, Geneva, Tahoma, sans-serif;
}

nav {
    position: fixed;
    font-size: 0.9em;
    /* background-color: #333333; */
    top: 0px;
    width: 100%;
    z-index: 99;
    padding-top: 50px;
}

.navWrapper {
    position: relative;
}

.navFlex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: #555555; */
    box-sizing: content-box;
    max-width: 1100px;
    padding-left: 50px;
    padding-right: 150px;
    margin-left: auto;
    margin-right: auto;
}

.navFlex img {
    height: 30px;
    width: auto;
    margin-right: 30px;
    margin-bottom: 11px;
}

.navFlex div {
    display: inline;
    /* background-color: #777777; */
    margin-right: 30px;
}

.navRight {
    position: absolute;
    /* background-color: #777777; */
    text-align: right;
    top: 14px;
    right: 50px;
    width: 200px;
}

.navRight div {
    display: inline;
    /* background-color: #C2C2C2; */
    margin-left: 20px;
}

nav a:link, nav a:visited, nav a:active {
    color: white;
    font-weight: normal;
    text-decoration: none;
}

nav a:hover {
    color: white;
    font-weight: normal;
    text-decoration: underline;
}

section {
    z-index: 0;
    color: #FFFFFF;
    box-sizing: content-box;
}

.firstSection {
    margin-top: -150px;
}

section img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.launchInfoWrapper {
    position: relative;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

.launchInfo {
    position: absolute;
    bottom: 50px;
    left: 50px;
    height: 250px;
}

.launchHead {
    font-weight: 100;
}

.launchName {
    font-size: 2.2em;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    padding: 20px 0px 20px 0px;
    margin-top: 30px;
    border: 2px solid #FFFFFF;
}

.button a {
    padding: 20px 50px 20px 50px;
}

.button a:link, .button a:visited, .button a:active {
    color: #FFFFFF;
    background-color: transparent;
    font-weight: normal;
    text-decoration: none;
}

.button a:hover {
    color: #000000;
    background-color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 0.9em;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer div {
    display: inline-block;
    margin: 10px 30px 10px 30px;
}

footer a:link, footer a:visited, footer a:active {
    color: #EEEEEE;
    font-weight: normal;
    text-decoration: none;
}

footer a:hover {
    color: #747474;
    font-weight: normal;
    text-decoration: none;
}

.spacex-footer {
    color: #858585;
}

#footerBr {
    display: none;
}

@media (max-width: 1200px) {
    .navFlex div {
        display: none;
    }

    #footerBr {
        display: inline;
    }
}